/*General*/
body {
  padding: 0;
  margin: 0;
  background-color: #333;
  color: #fff;
  font-family: "Arial", Helvetica, sans-serif;
  height: 100vh;
}
a {
  color: #fff;
}
a:hover {
  color: #ccf
}

/*General div format*/
.box h1,
.box h2,
.box p,
.box ul {
  padding: 0 12px;
  margin: 0 12px;
}
.title {
  margin-top: 0px;
  min-height:5%;
  background-color: #111;
  width: 100%;
}
.title h1 {
  color: #fff;
}

/*Navbar*/
.navbar{
  background-color: #222;
  padding-left:24px;
}
.navbar a:hover,
.navbar li span{
  background-color: #fff;
  color: #222;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar li {
  display:inline;
}
.navbar li a,
.navbar li span{
  padding-right: 5px;
  text-decoration: none;
}

/*index*/
.links {
  max-width:300px;
  background-color: #333;
  margin: 12px 0;
}
.links ul {
  list-style-type: none;
}
.links li::before{
  content: "\25B8"
}

/*projects*/
.project {
  /*text outline*/
  text-shadow: -0.75px 0 #000, 0 0.75px #000, 0.75px 0 #000, 0 -0.75px #000;
}
.project img{
  width:300px;
  height:235px;
}
